<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Base nodeJS AngularJS</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
  </head>
  <body ng-app="base-mongo">
    <nav>
      <div class="ui top fixed menu">
        <div class="item">
          <img src="/images/logo.png">
        </div>
        <a class="item">Features</a>
        <a class="item">Testimonials</a>
        <a class="item">Sign-in</a>
      </div>
    {{{body}}}
  </body>
  <script src="http://localhost:4001/js/build.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
</html>
