<div ng-controller="homeCtrl">
  <div class="container">
    <h1>{[hola]}</h1>
    <form action="http://localhost:4001/home/file" method="post" enctype="multipart/form-data">
      <input type="file" name="filetoupload"><br>
      <input type="submit">
    </form>
  </div>
</div>
